.navigation {
  display: flex;
  justify-content: space-between;
  height: 35px;
  border-bottom: 0.1em solid silver;
}

.navigation a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

.navigation a:hover {
  color: green;
  text-decoration: underline;
  /* font-style: heavy; */
}

h1 {
  color: green;
}

.posts__container_post {
  padding: 0.25em;
}

.posts__container_post:hover {
  cursor: pointer;
  font-style: italic;
  color: silver;
}

.post-form__container {
  display: flex;
  flex-direction: column;

  width: 400px;
  height: 500px;
  margin: 1em auto;
  padding: 1em;
  border: 2px solid silver;
}

.post__container_part {
  display: flex;
  flex-direction: column;
  padding: 0.25em 0;
}

button {
  margin: 1em 0;
  background-color: green;
  color: white;
  padding: 0.5em 1em;
  text-transform: uppercase;
  border: none;
}

.post__actions {
  display: flex;
  justify-content: space-between;
}

.comment__form {
  display: flex;
  flex-direction: column;
}

.comment__form button {
  width: 150px;
  align-self: flex-end;
}